.pageInfo
  .c
    h2.pageInfo__title Охрана труда #[.link на предприятии]
    .pageInfo__text
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

    .pageInfo__items
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/binoculars.png'))
        .pageInfo__header Для #[br]руководителей
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/padnote.png'))
        .pageInfo__header Завод #[br]изготовитель
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/maps-and-flags.png'))
        .pageInfo__header Государственные #[br]контролирующие
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/file.png'))
        .pageInfo__header Топ-менеджмент
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/maps-and-flags.png'))
        .pageInfo__header Государственные #[br]контролирующие
      .pageInfo__item: +card()
        .pageInfo__image: img(src=require('src/modules/problems/file.png'))
        .pageInfo__header Топ-менеджмент
