.needs(style="background-image: url(" + require('src/modules/needs/needs-bg.jpg') + ")")
  h2.needs__title: a КОМУ НЕОБХОДИМА УСЛУГА
  .c: .needs__items
    .needs__item
      .needs__image: img(src=require('src/modules/problems/binoculars.png'))
      .needs__text Для #[br]руководителей
    .needs__item
      .needs__image: img(src=require('src/modules/problems/padnote.png'))
      .needs__text Завод #[br]изготовитель
    .needs__item
      .needs__image: img(src=require('src/modules/problems/maps-and-flags.png'))
      .needs__text Государственные #[br]контролирующие
    .needs__item
      .needs__image: img(src=require('src/modules/problems/file.png'))
      .needs__text Топ-менеджмент
    .needs__item
      .needs__image: img(src=require('src/modules/problems/file.png'))
      .needs__text Топ-менеджмент
    .needs__item
      .needs__image: img(src=require('src/modules/problems/file.png'))
      .needs__text Топ-менеджмент
    .needs__item
      .needs__image: img(src=require('src/modules/problems/file.png'))
      .needs__text Топ-менеджмент
