.breadcrumbs
  span(property="itemListElement" typeof="ListItem")
    a(property="item" typeof="WebPage" title="Go to srg-eco.ru." href="http://srg-eco.ru" class="home")
      span(property="name") Главная
    meta(property="position" content="1")
  .sep #{' '}/#{' '}
  span(property="itemListElement" typeof="ListItem")
    a(property="item" typeof="WebPage" title="Go to Новости." href="http://srg-eco.ru/news/" class="post post-news-archive")
      span(property="name") Новости
    meta(property="position" content="2")
  .sep #{' '}/#{' '}
  span(property="itemListElement" typeof="ListItem")
    a(property="item" typeof="WebPage" title="Go to the Корпоративные новости Категория archives." href="http://srg-eco.ru/news_category/%d0%ba%d0%be%d1%80%d0%bf%d0%be%d1%80%d0%b0%d1%82%d0%b8%d0%b2%d0%bd%d1%8b%d0%b5-%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d0%b8/" class="news_category")
      span(property="name") Корпоративные новости
    meta(property="position" content="3")
  |#{' '},#{' '}
  span(property="itemListElement" typeof="ListItem")
    a(property="item" typeof="WebPage" title="Go to the Новости экологии Категория archives." href="http://srg-eco.ru/news_category/%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d0%b8-%d1%8d%d0%ba%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d0%b8/" class="news_category")
      span(property="name") Новости экологии
    meta(property="position" content="3")
  .sep #{' '}/#{' '}
  span(class="post post-news current-item") Екатерина Брюзгина выступила на конференции по охране труда в Санкт-Петербурге