include ../card/card

mixin bulletsList(title, gray)
  .bulletsList(class=gray && 'bulletsList--grey')
    h2.bulletsList__title=title
    .c: .bulletsList__items
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/binoculars.png'))
        .bulletsList__text Для #[br]руководителей
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/padnote.png'))
        .bulletsList__text Завод #[br]изготовитель
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/maps-and-flags.png'))
        .bulletsList__text Государственные #[br]контролирующие
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/file.png'))
        .bulletsList__text Топ-менеджмент
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/file.png'))
        .bulletsList__text Топ-менеджмент
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/file.png'))
        .bulletsList__text Топ-менеджмент
      .bulletsList__item: +card()
        .bulletsList__image: img(src=require('src/modules/problems/file.png'))
        .bulletsList__text Топ-менеджмент
